@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
  *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, 'Indie Flower';
  }    
  
  body{
    font-family: Poppins,sans-serif;
  background-image: url('https://image.freepik.com/vetores-gratis/colecao-do-icone-do-tempo-3d-vetor-de-nuvem-fofa-projeto-de-interface-do-usuario-do-simbolo-de-previsao-do-tempo_185694-179.jpg');  
    background-repeat:no-repeat;
    background-size:cover;
  }
  
  .input{
    text-align: center;
    margin: 100px auto;
  }
  
  input[type="submit"]{
    padding: 12px 21px;
    border: 1px solid;
    color:rgba(95, 97, 226, 0.658);
    border-radius: 3px;
    font-family: 'Indie Flower', cursive;
    font-weight:bold;
    font-size: 20px; 
    cursor: pointer;
  }
  
input[type="submit"]:hover{
  background-color: rgba(255, 255, 255, 0.521);
  border: 2px solid rgba(95, 97, 226, 0.658);
  color: rgb(57, 35, 117);
}  
  
  .input input[type="text"]{
    width: 600px;
    height: 55px;  
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 20px;
  }
  
  .card{
    width: 50%;
    height: 40vh;
    margin: 50px auto;
    border-radius: 2px;
  }
  
  
  .close{
    float: right;
    margin-top: -2px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .card h2{
  padding-top: 20px;
    padding: 200px 10;
    text-align: center;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  }
  
  .card p{
   text-align: center;
    margin:23px 0;
    font-size:20px;
    color: rgb(20, 19, 19); 
    font-weight:bold; 
    font-family: 'Indie Flower', cursive;
  }
  
h1{
  padding: 20px 0;
  text-align: center; 
  font-family: 'Indie Flower', cursive;
}
.container{
  background-color: rgba(66, 66, 184, 0.11);
  margin-left: 300px;
  min-width: 500px;
  width: 550%;
  max-width: 600px;
} 

.header {
  background-color: rgba(82, 82, 224, 0.479);
  padding: 10px;
  margin: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }

.linkedinHeaderButton{
  background-color: #3a62cfd7;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.linkedinHeaderButton:hover{
  background-color: rgba(255, 255, 255, 0.521);
  border: 1px solid rgba(95, 97, 226, 0.658);
  color: rgb(57, 35, 117);
} 


@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
}



